<div class="panel panel-info" >
	<div class="panel-heading">Uploader example</div>
	<div class="panel-body">
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-12">
				<div class="jumbotron">
					<h3>Uploader configuration</h3>
					<hr>
					<i>File related</i>
					<hr>
					<form>
						<fieldset class="form-group row">
							<label class="col-sm-2 form-control-label" for="upload-type">Upload type</label>
							<div class="col-sm-10">
								<select id="upload-type" class="form-control" ng-model="vm.isMultipleUpload">
									<option value="false">Single</option>
									<option value="true">Multiple</option>
								</select>
								<i>Note: when single upload mode is selected after successful upload the 'Attach file' button is hidden.When the uploaded file is removed then the button is available again.</i>
							</div>
						</fieldset>
						<fieldset class="form-group row">
							<label class="col-sm-2 form-control-label" for="upload-url">Upload Url</label>
							<div class="col-sm-10">
								<input id="upload-url" type="text" class="form-control" ng-model="vm.uploadUrl">
							</div>
						</fieldset>
						<fieldset class="form-group row">
							<label class="col-sm-2 form-control-label" for="download-url">Download Url</label>
							<div class="col-sm-10">
								<input id="download-url" type="text" class="form-control" ng-model="vm.downloadUrl">
								<i>Note: always include :id in order to parse the current file id correctly.</i>
							</div>
						</fieldset>
						<fieldset class="form-group row">
							<label class="col-sm-2 form-control-label" for="max-file-size">Max file size</label>
							<div class="col-sm-10">
								<div style="max-width: 100px;display: inline-block;">
									<input id="max-file-size" type="text" class="form-control col-sm-6" ng-model="maxFileSize">
								</div>
								<div style="max-width: 100px;display: inline-block;">
									<select ng-model="units" name="units" class="form-control col-sm-6">
										<option value="KB">KB</option>
										<option value="MB">MB</option>
										<option value="GB">GB</option>
									</select>
								</div>
							</div>
						</fieldset>
					</form>
					<!-- form end-->

					<hr>
					<i>User related</i>
					<hr>
					<form ng-if="!vm.isLoggedIn">
						<fieldset class="form-group row">
							<label for="username" class="col-sm-2 form-control-label">Impersonate as</label>
							<div class="col-sm-10">
								<select
									id="username"
									ng-model="vm.username"
									style="display: inline-block;width: 152px;"
									class="form-control">
									<option value="User-1 (ADMIN)">User-1 (ADMIN)</option>
									<option value="User-2">User-2</option>
									<option value="User-3">User-3</option>
									<option value="User-4">User-4</option>
								</select>
								<button
									ng-click="vm.login()"
									style="display: inline-block;"
									class="btn btn-success">
									Impersonate
								</button>
							</div>
						</fieldset>
					</form>
					<!-- form end-->
					<div ng-if="vm.isLoggedIn">
						<span>Logged in as: <strong>{{user.username}}</strong></span>
						<button
								ng-click="vm.logout()"
								style="margin-left: 10px;"
								class="btn btn-danger">
							Log out
						</button>
					</div>
				</div>

				<angular-uploader
						ng-if="vm.isLoggedIn"
						read-only="false"
						upload-url="vm.uploadUrl"
						download-url="vm.downloadUrl"
						delete-url="vm.deleteUrl"
						multiple="vm.isMultipleUpload"
						max-file-size="vm.computedMaxFileSize"
						debug="true">
				</angular-uploader>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-if="!vm.isLoggedIn">
	<div class="col-md-12">
		<hr>
		<h3>Unauthorized upload (should fail)</h3>
		<angular-uploader
				read-only="false"
				upload-url="vm.uploadUrl"
				download-url="vm.downloadUrl"
				delete-url="vm.deleteUrl"
				multiple="vm.isMultipleUpload"
				max-file-size="vm.computedMaxFileSize"
				debug="true">
		</angular-uploader>
		<hr>
	</div>
</div>

<div class="row" ng-if="vm.isLoggedIn">
	<div class="col-md-12">
		<hr>
			<h3 class="text-center">{{user.username}}: all files list</h3>
			<table class="table table-bordered" ng-if="vm.userHasFiles">
				<thead>
					<tr>
						<th>id</th>
						<th>uuid</th>
						<th>name</th>
						<th>mimeType</th>
						<th>size</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="file in vm.filesList">
						<td>{{file.id}}</td>
						<td><a href="{{vm.downloadUrl.replace(':id', file.uuid)}}">{{file.uuid}}</a></td>
						<td>{{file.name}}</td>
						<td>{{file.mimeType}}</td>
						<td>{{file.size | bytes}}</td>
					</tr>
					<tr ng-repeat-end>
						<td colspan="5">
							<strong>Links for {{file.name}} :</strong>
							<ul>
								<li ng-repeat="link in file.Links">
									<p>
										<i class="glyphicon glyphicon-link"></i>
										referredBy: {{link.referredBy}}, type: {{link.type}}
									</p>
								</li>
							</ul>
						</td>
					</tr>
					<tr class="text-center">
						<td colspan="5"><strong>Total uploaded: {{vm.totalUploaded | bytes}}</strong></td>
					</tr>
				</tbody>
			</table>
			<div ng-show="!vm.userHasFiles" class="alert alert-info" role="alert">
				<strong>No files uploaded.</strong>
			</div>
		<hr>


	</div>
</div>
<!-- user data end -->

