<div class="panel panel-info" >
	<div class="panel-heading">Settings</div>
	<div class="panel-body">
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-6">
					<form ng-if="!vm.isLoggedIn">
						<fieldset class="form-group row">
							<label for="username" class="col-sm-2 form-control-label">Impersonate as</label>
							<div class="col-sm-10">
								<select
									id="username"
									ng-model="vm.username"
									style="display: inline-block;width: 152px;"
									class="form-control">
									<option value="User-1 (ADMIN)">User-1 (ADMIN)</option>
									<option value="User-2">User-2</option>
									<option value="User-3">User-3</option>
									<option value="User-4">User-4</option>
								</select>
								<button
									ng-click="vm.login()"
									style="display: inline-block;"
									class="btn btn-success">
									Impersonate
								</button>
							</div>
						</fieldset>
					</form>
					<!-- form end-->
					<div ng-if="vm.isLoggedIn">
						<span>Logged in as: <strong>{{user.username}}</strong></span>
						<button
								ng-click="vm.logout()"
								style="margin-left: 10px;"
								class="btn btn-danger">
							Log out
						</button>
					</div>
			</div>
			<div class="col-md-6">
				<form>
					<fieldset class="form-group row">
						<label for="type" class="col-sm-2 form-control-label">New type</label>
						<div class="col-sm-10">
							<input
								id="type"
								type="text"
								style="display: inline-block;width: 152px;"
								ng-model="vm.linkType"
								class="form-control">

							<button
									ng-click="vm.addType()"
									style="display: inline-block;"
									class="btn btn-success">
								Add type
							</button>
						</div>
					</fieldset>
				</form>
				<p>Available link types (dynamic list from db):</p>

				<ul>
					<li ng-repeat="item in vm.linkTypes">{{item.type}}</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div ng-repeat="item in vm.auctions" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{item.name}}</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<p>Contract</p>
						<angular-uploader
								btn-text="'Attach contract'"
								init-files="item.contract"
								read-only="false"
								upload-url="vm.contractUploadUrls[$index]"
								download-url="vm.downloadUrl"
								delete-url="vm.deleteUrl"
								multiple="false"
								max-file-size="vm.contractMaxFileSize">
						</angular-uploader>
					</div>
					<div class="col-md-6">
						<p>Attachments</p>
						<angular-uploader
								btn-text="'Attach files'"
								init-files="item.attachments"
								read-only="false"
								upload-url="vm.attachmentUploadUrls[$index]"
								download-url="vm.downloadUrl"
								delete-url="vm.deleteUrl"
								multiple="true"
								max-file-size="vm.contractMaxFileSize">
						</angular-uploader>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Comments</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<comment-form></comment-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-if="vm.isLoggedIn">
	<div class="col-md-12">
		<hr>
			<h3 ng-if="user.id == 1" class="text-center">{{user.username}}: all files list</h3>
			<h3 ng-if="user.id > 1" class="text-center">{{user.username}}: all files @quota usage</h3>
			<table class="table table-bordered" ng-if="vm.userHasFiles">
				<thead>
					<tr>
						<th>id</th>
						<th>uuid</th>
						<th>name</th>
						<th>mimeType</th>
						<th>size</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="file in vm.filesList">
						<td>{{file.id}}</td>
						<td><a href="{{vm.downloadUrl.replace(':id', file.uuid)}}">{{file.uuid}}</a></td>
						<td>{{file.name}}</td>
						<td>{{file.mimeType}}</td>
						<td>{{file.size | bytes}}</td>
					</tr>
					<tr ng-repeat-end>
						<td colspan="5">
							<strong>Links for {{file.name}} :</strong>
							<ul>
								<li ng-repeat="link in file.Links">
									<p>
										<i class="glyphicon glyphicon-link"></i>
										referredBy: {{link.referredBy}}, type: {{link.type}}
									</p>
								</li>
							</ul>
						</td>
					</tr>
					<tr class="text-center">
						<td colspan="5"><strong>Total uploaded: {{vm.totalUploaded | bytes}}</strong></td>
					</tr>
				</tbody>
			</table>
			<div ng-show="!vm.userHasFiles" class="alert alert-info" role="alert">
				<strong>No files uploaded.</strong>
			</div>
		<hr>
	</div>
</div>
<!-- user data end -->

